.link-product {
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
    opacity: 0.9;
}

.link-product:hover {
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
    opacity: 1;
}

.link-product:hover h2 {
    -webkit-transition: font-size 0.6s ease-in-out;
    -moz-transition: font-size 0.6s ease-in-out;
    -o-transition: font-size 0.6s ease-in-out;
    transition: font-size 0.6s ease-in-out;
    font-size: 27px;
}

.link-product h2 {
    -webkit-transition: font-size 0.6s ease-in-out;
    -moz-transition: font-size 0.6s ease-in-out;
    -o-transition: font-size 0.6s ease-in-out;
    transition: font-size 0.6s ease-in-out;
    font-weight: 900;
}

.link-product:hover h3 {
    -webkit-transition: font-size 0.6s ease-in-out;
    -moz-transition: font-size 0.6s ease-in-out;
    -o-transition: font-size 0.6s ease-in-out;
    transition: font-size 0.6s ease-in-out;
    font-size: 50px;
    font-weight: 900;
}

.link-product  h3 {
    -webkit-transition: font-size 0.6s ease-in-out;
    -moz-transition: font-size 0.6s ease-in-out;
    -o-transition: font-size 0.6s ease-in-out;
    transition: font-size 0.6s ease-in-out;
    font-weight: 700;
}

.link-product:hover  img {
    -webkit-transition: transform 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transform: scale(1.05);
}

.link-product  img {
    -webkit-transition: transform 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}

.link-product.rounded-lg{
    border-radius: 0.6rem !important;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none !important;
    cursor: pointer;
}

.product-title{
    font-weight: 900;
}